#### Importing necessary packages

In [1]:
import pandas as pd
from privacy_utils.anonymizer import anonymize

#### Loading the data from the xml file and anonymizing it for privacy concerns

In [2]:
df = anonymize("data/calls-20250902222444.xml")
df.head()

    user_hash  duration           date  type
0  26140da466         0  1514777506484     3
1  be9b9c501b         0  1514791822769     3
2  21e87df9bc        53  1596456152643     2
3  21e87df9bc       166  1596456226439     2
4  239595015e      1067  1596725092157     1

### Understanding the data

In [3]:
df.describe()

          duration          date         type
count  1303.000000  1.303000e+03  1303.000000
mean     73.724482  1.689907e+12     1.825019
std     204.409652  6.848584e+10     0.729089
min       0.000000  1.514778e+12     1.000000
25%       0.000000  1.606063e+12     1.000000
50%      14.000000  1.728294e+12     2.000000
75%      52.000000  1.752964e+12     2.000000
max    3732.000000  1.756841e+12     5.000000

Confirming the various data types of the columns.

In [4]:
df.dtypes

user_hash    object
duration      int64
date          int64
type          int64
dtype: object